PORT=5000

FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"

GMAIL_USER=your-gmail@gmail.com
GMAIL_PASS=xxxx xxxx xxxx xxxx
MAIL_FROM_NAME=CSI Terna
CLIENT_URL=http://localhost:5173
